{% extends "frontend/base.html" %}

{% block headerstyle %}
<style type="text/css">
    .guestlist .form-control,
    .guestlist .custom-select{
        display: inline;
        width: inherit;
    }
    .reserved-tag {
        position: absolute;
        top: 31px;
        right: -75px;
        z-index: 10;
        display: inline-block;
        font-size: 12px;
        width: 250px;
        text-align: center;
        padding: .25em 0;
        color: white;
        transform: rotate(45deg);
        border: 5px solid #fff;
        background: #7c97aa;
    }
    .edit-actions {
        z-index: 20;
    }
</style>
{% endblock headerstyle %}

{% block content %}
<!-- backend/event.html -->

<h1>{{mevent.name}}</h1>
<div class="mb-4" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="card">
        <div class="card-header" role="tab" id="heading3">
          <h5 class="mb-0">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapseTwo">Event</a>
          </h5>
        </div>
        <div id="collapse3" class="collapse" role="tabpanel" aria-labelledby="heading3">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <p class="text-center">{% autoescape off %}{{mevent.get_qrcode}}<br /><a target="_blank" href="{{mevent.get_url}}">{{mevent.get_url}}</a>{% endautoescape %}</p>
              </div>
              <div class="col">
                <p>Titel: {{mevent.name}}</p>
                <p>Kurzcode: {{mevent.namecode}}</p>
                <p>Passwort: {{mevent.password}}</p>
                <p>Gäste: {{stats.guest.ja}} zugesagt, {{stats.guest.nein}} abgesagt, {{stats.guest.vlt}} weiß noch nicht, {{stats.guest.min}} offen</p>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" role="tab" id="headingTwo">
          <h5 class="mb-0">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Informationen</a>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="card-body">
          
            <div class="row">
                {% for d in mevent.document_set.all %}
                <div class="col-lg-4 mb-4">
                    <div class="card h-100">
                      <span class="card-header font-weight-bold" style="position: relative">
                          {% if not d.public %}<span style="font-size: 70%; color: #d00000; position: absolute; right: 5px; top: 1px">offline</span>{% endif %}
                          <a class="float-right" title="ändern" href="{% url 'backend.document.edit' document_id=d.id %}"><i class="fas fa-edit"></i></a>
                          {{d.name}}
                      </span>
                      <div class="card-body">
                        <div>{{d.notes}}</div>
                        {% if d.file %}
                        <div><a href="{{ MEDIA_URL }}{{ d.file }}" title="Dokument {{d.name}} herunterladen"><i class="fas fa-file-download"></i> Datei herunterladen</a></div>
                        {% endif %}
                      </div>
                    </div>
                </div>
                {% endfor %}
                <div class="col-lg-4 mb-4">
                    <div class="card h-100">
                      <span class="card-header font-weight-bold">&nbsp;</span>
                      <div class="card-body text-center">
                        <a style="font-size: 300%" title="ändern" href="{% url 'backend.document.add' event_id=mevent.id %}"><i class="far fa-plus-square"></i></a>
                      </div>
                    </div>
                </div>
            </div>
            
          </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" role="tab" id="headingOne">
          <h5 class="mb-0">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Gäste</a>
          </h5>
        </div>
        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
          <div class="card-body guestlist">
            <ul class="list-group">
            {% for g in guests %}
            <li class="{% if g.participation == 1 %}text-success{% endif %}{% if g.participation == 2 %}text-danger{% endif %}{% if g.participation == 3 %}text-warning{% endif %}{% if g.participation == 0 %}text-muted{% endif %} list-group-item">
            <a href="{% url 'backend.participant.remove' id=g.id %}" title="Gast entfernen" class="float-right"><i class="text-danger far fa-times-circle"></i> entfernen</a>
            <span class="">Code: {{g.subcode}}</span>
            <span class="font-weight-bold">Name: <input class="form-control" data-action="change" data-guest="{{g.id}}" data-name="name" value="{{g.name}}"></input></span>
                <select data-action="change" data-guest="{{g.id}}" data-name="participation" class="custom-select">
                <option value="0"{% if g.participation == 0 %} selected{% endif %}>---</option>
                <option value="1"{% if g.participation == 1 %} selected{% endif %}>kommt</option>
                <option value="2"{% if g.participation == 2 %} selected{% endif %}>kommt nicht</option>
                <option value="3"{% if g.participation == 3 %} selected{% endif %}>weiß noch nicht</option>
                </select>
            <span class="">E-Mail: {{g.email}}</span> /
            <span class="">Telefon/Handy: {{g.phone}}</span>
            </li>
            {% endfor %}
            <li class="list-group-item"><a href="{% url 'backend.participant.add' id=mevent.id %}" title="Gast hinzufügen"><i class="fa fa-plus-square"></i> Gast hinzufügen</a></li>
            </ul>
          </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" role="tab" id="heading4">
          <h5 class="mb-0">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="true" aria-controls="collapse4">Beiträge</a>
          </h5>
        </div>
        <div id="collapse4" class="show" role="tabpanel" aria-labelledby="heading4">
          <div class="card-body guestlist">
           {% for c in mevent.contribution_set.all %}
               <div class="mb-2">
                <p>
                  <span class="font-weight-bold">{{c.name}}</span><br />
                  <span class="text-muted">{{c.notes}}</span>
                </p>
                <ul class="list-group">
                 {% for ci in c.ci_set.all %}
                 <li class="list-group-item">
                 {{ci.name}} (<span class="text-muted">{{ci.guestname}}</span>)
                 </li>
                 {% endfor %}
                </ul>
               </div>
           {% endfor %}
          </div>
        </div>
        
        
    </div>
    {% with cols=mevent.checkoutlist_set.all %}
    {% for col in cols %}
    <div class="card">
        <div class="card-header" role="tab" id="headingC{{col.id}}">
          <h5 class="mb-0">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseC{{col.id}}" aria-expanded="false" aria-controls="collapseC{{col.id}}">{{col.name}}</a>
          </h5>
        </div>
        <div id="collapseC{{col.id}}" class="collapse" role="tabpanel" aria-labelledby="headingC{{col.id}}">
          <div class="card-body">
            <div class="row">
              <div class="col">
                {{col.notes}}
              </div>
            </div>
            <div class="row">
            {% for c in col.coli_set.all %}
              <div class="col-lg-4 mb-4">
                  <div class="card h-100" style="position: relative; overflow: hidden">
                    {% if c.subcode %}
                      <span href="#" class="reserved-tag">reserviert</span>
                    {% endif %}

                    <span class="font-weight-bold card-header edit-actions">
                        <a class="float-right" title="ändern" href="{% url 'backend.coli.edit' coli_id=c.id %}"><i class="fas fa-edit"></i></a>
                        <a class="float-right mr-2 text-danger" title="löschen" data-action="asktwice" data-href="{% url 'backend.coli.delete' coli_id=c.id %}"><i class="far fa-trash-alt"></i></a>
                        {{c.name}}
                    </span>
                    <div class="card-body" style="position: relative">
                      {% if c.image %}<p><img style="max-width: 100%; max-height: 10em;" src="{{ MEDIA_URL }}{{ c.image }}"></p>{% endif %}
                      {% if c.url %}<p><a target="_blank" href="{{c.url}}"><i class="far fa-hand-point-right"></i> Link</a></p>{% endif %}
                      <div>{{c.notes}}</div>
                    </div>
                  </div>
              </div>
            {% endfor %}
              <div class="col-lg-4 mb-4">
                  <div class="card h-100">
                    <span class="card-header font-weight-bold">&nbsp;</span>
                    <div class="card-body text-center">
                      <a style="font-size: 300%" title="ändern" href="{% url 'backend.coli.add' col_id=col.id %}"><i class="far fa-plus-square"></i></a>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    {% endfor %}
    {% endwith %}

</div>

<!-- modal ask twice -->
<div class="modal fade" id="delete_modal" role="dialog">
<div class="modal-dialog modal-dialog-centered">

  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-body text-center">
      <p>Wirklich löschen?</p>
      <p>
          <button type="button" class="float-left btn btn-primary" data-dismiss="modal">Abbrechen</button>
          <button type="button" class="float-right btn btn-primary" onClick="asktwice('go')">Löschen</button>
      </p>
    </div>
  </div>
</div>
</div>


{% endblock content %}

{% block bottom-scripts %}
<script type="text/javascript">
var asktwice_href = false
function asktwice(mode){
    var href = $(this).data("href")
    if( mode == "go" ){
        window.location.href = asktwice_href
    }else{
        asktwice_href = href
        $("#delete_modal").modal('show')
    }
}
$(document).ready(function() { 
    $("[data-action=change]").focus( function(){
        $(this).css("background-color","#fff7e0")
    })
        
    $(document).on("change","[data-action=change]", function(){
        var gid  = $(this).attr("data-guest")
        var name = $(this).attr("data-name")
        var value = $(this).val()
        var e = $(this)
        console.log("Change: "+gid+" "+name+" "+value)
        $.ajax({
            method: "POST",
            data: { "gid": gid, "name": name, "value": value, "csrfmiddlewaretoken": "{{ csrf_token }}" },
            url: "{% url 'backend.participant.set' %}",
            success: function(r){
                e.css("background-color","#ffffff")
                console.log(r);
            },
            error: function(r){
                console.log(r);
            }
        });
    })
    
    $(document).on("click","[data-action=asktwice]",asktwice)
        
})
</script>
{% endblock %}
