DB_USER=dbuser
DB_NAME=dbname
DB_PASSWORD=dbpassword
export INSTANCE="DEV|PRELIVE|PROD|.."
export APP_PORT=8092

# Email settings
export EMAIL_HOST=<smpt relay>
export EMAIL_HOST_USER=<smtp user>
export EMAIL_HOST_PASSWORD="secret"

# from django.core.management.utils import get_random_secret_key
# print(get_random_secret_key())
export SECRET_KEY='use a secret one'

# intended for demo instance
#export ALB_LOGOLINK="https://www.alberogen.de/"
#export ALB_DISABLE_REGISTRATION="yes"
