{% extends 'frontend/base.html' %}
{% block content %}
<div class="p-5">
<div class="row">
<div class="col">

<h1>Datenschutzerklärung</h1>

<p>Verantwortlich im Sinne der Datenschutzgesetzes:</p>

<p>
Georg Ostertag<br />
Berner Str. 70<br />
81476 München<br />
info@alberogen.de<br />
</p>

<strong>Erfassung von Daten</strong>

<p>
Während Sie auf unsere Webseiten zugreifen, erfassen wir automatisch Daten von allgemeiner Natur. 
Diese Daten (Server-Logfiles) umfassen die Art ihres Browsers, ihr Betriebssystem,
sowie weitere ähnliche technische Daten. 
Diese Daten werden ausschließlich dazu genutzt, technische Probleme zu analysieren und Ihnen die Webseiten 
korrekt darzustellen und werden bei jeder Nutzung des Internets abgerufen.
Es erfolgt keine Analyse von Nutzerverhalten.

Unsere Server befinden sich in Deutschland und unterliegen den deutschen und europäischen
Datenschutz Gesetzen.

Daten, die von uns erfasst werden, werden in keiner Form weitergegeben.
</p>

<strong>Cookies</strong>

<p>
Unsere Webseiten verwenden einen "Cookie", sobald Sie sich anmelden. 
Dies ist technisch notwendig, damit Sie sich als angemeldeter Nutzer innerhalb unserer Webseiten
bewegen können und Zugriff auf Ihre Daten erhalten.
Dieser Cookie wird nicht verwendet, um Nutzerverhalten zu protokollieren. Es erfolgt kein "Tracking".
</p>

<strong>Anmeldung auf unserer Webseite</strong>

<p>
Wenn Sie sich bei unserer Webseite registrieren erfragen wir einige persönliche Daten: Nameund E-Mail-Adresse. 
Nur als angemeldeter Nutzer können Sie Daten in unserer
Webanwendung ablegen und einsehen.
Angemeldete Nutzer haben die Möglichkeit, Ihre persönlichen Daten zu jedem Zeitpunkt zu ändern 
oder löschen zu lassen. Sie können auch jederzeit die von ihnen gespeicherten Daten bei uns erfragen. 
Soweit gesetzlich keine Frist für die Aufbewahrung der Daten besteht, können diese geändert oder gelöscht werden. 
Bitte kontaktieren Sie uns dazu gerne.
</p>

<strong>Löschung oder Sperrung von Daten</strong>

<p>
Ihre persönlichen Daten werden nur so lange gespeichert, wie dies absolut notwendig ist um die angegebenen 
Dienste zu leisten und es vom Gesetz vorgeschrieben ist. Nach Ablauf dieser Fristen werden die
persönlichen Daten der Nutzer regelmäßig gesperrt oder gelöscht.
</p>

<strong>Google Analytics</strong>
<p>
Wir verwenden kein Google Analytics. Und auch keine anderen Analyse-Tools oder Services.
</p>

<strong>Kontakt</strong>

<p>
Wenn Sie uns über z.B. über email kontaktieren werden die entsprechenden Daten zur Bearbeitung gespeichert.
</p>


<strong>Auskunft, Berichtigung, Sperre, Löschung und Widerspruch</strong>

<p>
Sie können zu jedem Zeitpunkt Informationen über Ihre bei uns gespeicherten Daten erbitten. 
Diese können auch berichtigt, gesperrt oder, sofern die vorgeschriebene Zeiträume der 
Datenspeicherung zur Geschäftsabwicklung abgelaufen sind, gelöscht werden. 
Unser Datenschutzmitarbeiter hilft Ihnen bei allen entsprechenden Fragen. 

Gesperrte Daten werden in einer speziellen Sperrdatei zu Kontrollzwecken verwahrt. 
Wenn die gesetzliche Archivierungsverpflichtung abgelaufen ist können Sie auch die 
Löschung der Daten verlangen. Innerhalb der Archivierungsverpflichtung können 
wir Ihre Daten auf Wunsch sperren.

Änderungen oder Widerruf von Einwilligungen können durch eine Mitteilung an uns 
vorgenommen werden. Dies ist auch für zukünftige Aktionen möglich.
</p>

<strong>Änderung der Datenschutzbestimmungen</strong>

<p>
Unsere Datenschutzerklärung können in unregelmäßigen Abständen angepasst werden, 
damit sie den aktuellen rechtlichen Anforderungen entsprechen oder um Änderungen 
unserer Dienstleistungen umzusetzen, z. B. bei der Einfügung neuer Angebote. 
Als registrierter Nutzer werden Sie über eine solche Änderung von uns aktiv per email
informiert.
</p>

</div>
</div>
</div>
{% endblock content %}
