{% extends "v2/base.html" %}
{% load static %}
{% block title %}Passwort zurücksetzen{% endblock title %}
<!-- :mode=html: -->

{% block content %}
<style type="text/css">
    .button-switch {
        font-size: 75%; 
        width: 100%;
        color: 707070;
    }
</style>

<div class="p-5">
<div class="row">
<div class="col-lg-6" style="margin-left: auto; margin-right: auto;">
<div style="max-width: 500px">
<div class="border-rounded">

<a class="btn btn-outline-primary text-left button-switch">Passwort zurücksetzen</a><br />

{% block pwreset_content %}
<form id="pwreset_form" class="m-2 form-horizontal" action="" method="POST" enctype='multipart/form-data' accept-charset="UTF-8">
Sie wissen Ihr Passwort nicht mehr? Geben Sie hier ihre E-Mail Adresse ein um Ihr
Passwort zurückzusetzen:

    {% csrf_token %}
    {{ form }}
    
    
    <button type="submit" class="btn btn-block btn-primary">Zurücksetzen</button>
</form>
{% endblock pwreset_content %}

</div>
</div>
</div>
</div>

{% endblock content %}

{% block bottom-scripts %}
{% endblock %}
