{% extends "frontend/base-boxed.html" %}
{% load i18n %}

{% block headerstyle %}
<style type="text/css">
    .button-switch {
        font-size: 75%; 
        width: 100%;
        color: 707070;
    }
</style>
{% endblock headerstyle %}

{% block content %}
<!-- event/enter.html -->

<div id="signaccord">

  <div class="border-rounded">
    <a class="btn btn-outline-primary text-left button-switch" data-toggle="collapse" data-target="#laps2" aria-expanded="false">{% trans "Ich habe schon einen Teilnahmecode" %}:</a><br />
    <div id="laps2" class="collapse" data-parent="#signaccord">
      <form id="enter_form" class="form-horizontal" action="" method="POST" enctype='multipart/form-data' accept-charset="UTF-8">
        {% csrf_token %}
    
        {% if formC.non_field_errors %}
          <label for="{{form.auto_id}}" class="col control-label"> </label>
          <div style="color: #ee6924;">{{formC.non_field_errors}}</div>
        {% endif %}

        {% include 'frontend/form-field-snippet.html' with f=formC.partcode %}
        <div class="clearfix m-2">
        </div>
        <button type="submit" class="btn btn-block btn-primary">{% trans "Anmelden" %}</button>
      </form>
    </div>
  </div>    


  <div class="row">
      <div class="col"><hr></div>
      <div class="col-auto">oder</div>
      <div class="col"><hr></div>
  </div>

  <div class="border-rounded">
    <a class="btn btn-outline-primary text-left button-switch" data-toggle="collapse" data-target="#laps1" aria-expanded="false">{% trans "Ich bin zum ersten mal hier" %}:</a><br />
    <div id="laps1" class="show" data-parent="#signaccord">
      <form id="enter_form" class="form-horizontal" action="" method="POST" enctype='multipart/form-data' accept-charset="UTF-8">
        {% csrf_token %}
    
        {% if form.non_field_errors %}
          <label for="{{form.auto_id}}" class="col control-label"> </label>
          <div style="color: #ee6924;">{{form.non_field_errors}}</div>
        {% endif %}

        {% if event %}
          <input id="id_shortcut" type="hidden" name="shortcut" value="{{event.namecode}}">
          <div class="text-center mt-5">
          <h2>{{event.name}}</h2>
          </div>
        {% else %}
          {% include 'frontend/form-field-snippet.html' with f=form.shortcut %}
        {% endif %}
        
        {% include 'frontend/form-field-snippet.html' with f=form.password %}
        <div class="clearfix m-2">
        </div>
        <button type="submit" class="btn btn-block btn-primary">{% trans "Anmelden" %}</button>
      </form>
    </div>
  </div>    

    
</div>


<script type="text/javascript">
document.getElementById('id_password').focus()
</script>


{% endblock content %}
