{% extends "frontend/base-boxed.html" %}{% load i18n %}

{% block headerstyle %}
{% endblock headerstyle %}

{% block content %}
<!-- event/my-code.html -->

<div class="text-center">

<h2>{% trans "Dein Teilnahmecode" %}:</h2>

<h1 class="text-danger">{{code}}</h1>

{% trans "Bitte notiere Dir diesen Code. Du kannst damit jederzeit später Deine Anmeldedaten anpassen." %}

<div>
<a class="btn btn-primary" role="button" href="{% url 'event.participate' %}">{% trans "Weiter" %}</a>
</div>

</div>

{% endblock content %}
