{% extends "frontend/base.html" %}{% load i18n %}{% load static %}

{% block headerstyle %}
<style type="text/css">
    .guestlist .form-control,
    .guestlist .custom-select{
        display: inline;
        width: inherit;
    }
    .reserved img {
        opacity: 0.5;
    }
    .reserved {
        color: #b39d9d;
    }
    .reserved .coli-url {
        display: none;
    }
    .reserved-tag {
        position: absolute;
        top: 31px;
        right: -75px;
        z-index: 10;
        display: inline-block;
        font-size: 12px;
        width: 250px;
        text-align: center;
        padding: .25em 0;
        color: white;
        transform: rotate(45deg);
        border: 5px solid #fff;
        background: #7c97aa;
    }
    .reserved-self .reserved-tag{
        background: #55aa59;
    }
    {% autoescape off %}
    {{ event.participatecss }}
    {% endautoescape %}
</style>
{% endblock headerstyle %}

{% block content %}
<!-- event/paricipate.html -->

<h1>{{event.name}}</h1>
<div class="mb-4" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="card">
        <div class="card-header" role="tab" id="heading3">
          <h5 class="mb-0">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">{% trans "Informationen" %}</a>
          </h5>
        </div>
        <div id="collapse3" class="collapse" role="tabpanel" aria-labelledby="heading3">
          <div class="card-body">
            <div class="row">
            {% for d in event.document_set.all %}
            {% if d.public %}
            <div class="col-lg-4 mb-4">
                <div class="card h-100 shadow">
                  <span class="card-header font-weight-bold" style="position: relative"> {{d.name}} </span>
                  <div class="card-body">
                    <div>{{d.notes|linebreaks}}</div>
                    {% if d.file %}
                    <div class="mt-4"><a href="{{ MEDIA_URL }}{{ d.file }}" title="Dokument {{d.name}} herunterladen"><i class="fas fa-file-download"></i> {% trans "Datei herunterladen" %}</a></div>
                    {% endif %}
                  </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
            </div>
          </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" role="tab" id="headingOne">
          <h5 class="mb-0">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">{% trans "Gäste" %}</a>
          </h5>
        </div>
        <div id="collapseOne" class="show" role="tabpanel" aria-labelledby="headingOne">
          <div class="card-body guestlist">
            <ul class="list-group">
            {% for g in guests %}
            <li class="list-group-item">
            {% if not forloop.first %}
            <a href="{% url 'event.participant.remove' gid=g.id %}" title="Gast entfernen" class="float-right"><i class="text-danger far fa-times-circle"></i> {% trans "entfernen" %}</a>
            {% endif %}
            {% trans "Name" %}: <input class="form-control" data-action="change" data-guest="{{g.id}}" data-name="name" value="{{g.name}}"></input> 
            {% trans "Teilnahme" %}: 
                <select data-action="change" data-guest="{{g.id}}" data-name="participation" class="custom-select">
                <option value="0"{% if g.participation == 0 %} selected{% endif %}>---</option>
                <option value="1"{% if g.participation == 1 %} selected{% endif %}>{% trans "ich komme" %}</option>
                <option value="2"{% if g.participation == 2 %} selected{% endif %}>{% trans "ich komme nicht" %}</option>
                <option value="3"{% if g.participation == 3 %} selected{% endif %}>{% trans "weiß noch nicht" %}</option>
                </select>
            <br />
            {% trans "E-Mail" %}: <input class="form-control" data-action="change" data-guest="{{g.id}}" data-name="email" value="{{g.email}}"></input> 
            {% trans "Telefon/Handy" %}: <input class="form-control" data-action="change" data-guest="{{g.id}}" data-name="phone" value="{{g.phone}}"></input> 
            </li>
            {% endfor %}
            <li class="list-group-item"><a href="{% url 'event.participant.add' %}" title="Gast hinzufügen"><i class="fa fa-plus-square"></i> {% trans "Gast hinzufügen" %}</a></li>
            </ul>
          </div>
        </div>
    </div>
    {% if cis|length > 0 %}
    <div class="card">
        <div class="card-header" role="tab" id="headingTwo">
          <h5 class="mb-0">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">{% trans "Beiträge" %}</a>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="card-body">
            <ul class="list-group">
            {% for ci in cis %}
              <li class="list-group-item">
                <span class="font-weight-bold">{{ci.contribution.name}}</span><br />
                {{ci.contribution.notes}}<br />
                <input class="form-control" data-action="change-ci" data-id="{{ci.id}}" value="{{ci.name}}"></input> 
              </li>
            {% endfor %}
            </ul>
          </div>
        </div>
    </div>
    {% endif %}
    {% with cols=event.checkoutlist_set.all %}
    {% for col in cols %}
    <div class="card">
        <div class="card-header" role="tab" id="headingC{{col.id}}">
          <h5 class="mb-0">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseC{{col.id}}" aria-expanded="false" aria-controls="collapseC{{col.id}}">{{col.name}}</a>
          </h5>
        </div>
        <div id="collapseC{{col.id}}" class="collapse" role="tabpanel" aria-labelledby="headingC{{col.id}}">
          <div class="card-body">
            <div class="row">
              <div class="col">
                {{col.notes}}
              </div>
            </div>
            <div class="row">
            {% for c in col.coli_set.all %}
            <div class="col-lg-4 mb-4">
            
                <div class="card h-100 shadow{% if c.subcode %} {% if c.subcode == participant.subcode %}reserved-self{% else %}reserved{% endif %}{% endif %}" style="position: relative; overflow: hidden">
                
                  {% if c.subcode %}
                    {% if c.subcode == participant.subcode %}
                    <span href="#" class="reserved-tag">{% trans "von mir reserviert" %}</span>
                    {% else %}
                    <span href="#" class="reserved-tag">{% trans "reserviert" %}</span>
                    {% endif %}
                  {% endif %}
                    
                  <span class="font-weight-bold card-header">{{c.name}}</span>
                  <div class="card-body" style="position: relative">
                    {% if c.image %}<p><img style="max-width: 100%; max-height: 10em;" src="{{ MEDIA_URL }}{{ c.image }}"></p>{% endif %}
                    {% if c.url %}<p><a target="_blank" class="coli-url" href="{{c.url}}"><i class="far fa-hand-point-right"></i> {% trans "Link" %}</a></p>{% endif %}
                    <div class="mb-5">{{c.notes}}</div>
                    
                    <div class="mb-1" style="position: absolute; bottom: 0px;">
                    <div>
                    {% if not c.subcode %}
                        <button class="btn btn-primary" data-action="coli-set" data-mode="take" data-id="{{c.id}}">{% trans "reservieren" %}</button>
                    {% else %}
                        {% if c.subcode == participant.subcode %} 
                            <button class="btn btn-success" data-action="coli-set" data-mode="release" data-id="{{c.id}}">{% trans "Reservierung aufheben" %}</button>
                        {% endif %}
                    {% endif %}
                    </div>
                    </div>
                  </div>
                  
                </div>
                
            </div>
            {% endfor %}
            </div>
          </div>
        </div>
    </div>
    {% endfor %}
    {% endwith %}

</div>

{% endblock content %}

{% block bottom-scripts %}
<script type="text/javascript">
$(document).ready(function() { 
    $("[data-action=change]").focus( function(){
        $(this).css("background-color","#fff7e0")
    })
    $("[data-action=change-ci]").focus( function(){
        $(this).css("background-color","#fff7e0")
    })
        
    $(document).on("change","[data-action=change]", function(){
        var gid  = $(this).attr("data-guest")
        var name = $(this).attr("data-name")
        var value = $(this).val()
        var e = $(this)
        console.log("Change: "+gid+" "+name+" "+value)
        $.ajax({
            method: "POST",
            data: { "gid": gid, "name": name, "value": value, "csrfmiddlewaretoken": "{{ csrf_token }}" },
            url: "{% url 'event.participant.set' %}",
            success: function(r){
                e.css("background-color","#ffffff")
                console.log(r);
            },
            error: function(r){
                console.log(r);
            }
        });
    })
    $(document).on("change","[data-action=change-ci]", function(){
        var ciid  = $(this).attr("data-id")
        var value = $(this).val()
        var e = $(this)
        console.log(ciid+" "+value)
        $.ajax({
            method: "POST",
            data: { "id": ciid, "value": value, "csrfmiddlewaretoken": "{{ csrf_token }}" },
            url: "{% url 'event.ci.set' %}",
            success: function(r){
                e.css("background-color","#ffffff")
            },
            error: function(r){
                console.log(r);
            }
        });
    })
    $(document).on("click","[data-action=coli-set]", function(){
        var id  = $(this).attr("data-id")
        var mode = $(this).attr("data-mode")
        $.ajax({
            method: "POST",
            data: { "id": id, "mode": mode, "csrfmiddlewaretoken": "{{ csrf_token }}" },
            url: "{% url 'event.coli.set' %}",
            success: function(r){
                window.location.reload(true)
            },
            error: function(r){
                console.log(r);
            }
        });
    })
})
</script>
{% endblock %}
