{% extends "frontend/base.html" %}{% load i18n %}{% load static %}

{% block headerstyle %}
<style type="text/css">
    .guestlist .form-control,
    .guestlist .custom-select{
        display: inline;
        width: inherit;
    }
    {% autoescape off %}
    {{ event.participatecss }}
    {% endautoescape %}
</style>
{% endblock headerstyle %}

{% block content %}
<!-- event/paricipate.html -->

<h1>{{event.name}}</h1>
<div class="mb-4" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="card">
        <div class="card-header" role="tab" id="heading3">
          <h5 class="mb-0">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">{% trans "Informationen" %}</a>
          </h5>
        </div>
        <div id="collapse3" class="show" role="tabpanel" aria-labelledby="heading3">
          <div class="card-body">
            <div class="row">
            {% for d in event.document_set.all %}
            {% if d.public %}
            <div class="col-lg-4 mb-4">
                <div class="card h-100">
                  <h3 class="card-header"><a href="{{ MEDIA_URL }}{{ d.file }}" title="Dokument {{d.name}} herunterladen">{{d.name}}</a></h3>
                  <div class="card-body">
                    <div>{{d.notes}}</div>
                  </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
            </div>
          </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" role="tab" id="headingOne">
          <h5 class="mb-0">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">{% trans "Gäste" %}</a>
          </h5>
        </div>
        <div id="collapseOne" class="show" role="tabpanel" aria-labelledby="headingOne">
          <div class="card-body guestlist">
            <ul class="list-group">
            {% for g in guests %}
            <li class="list-group-item">
            {% if not forloop.first %}
            <a href="{% url 'event.participant.remove' gid=g.id %}" title="Gast entfernen" class="float-right"><i class="text-danger far fa-times-circle"></i> {% trans "entfernen" %}</a>
            {% endif %}
            {% trans "Name" %}: <input class="form-control" data-action="change" data-guest="{{g.id}}" data-name="name" value="{{g.name}}"></input> 
            {% trans "Teilnahme" %}: 
                <select data-action="change" data-guest="{{g.id}}" data-name="participation" class="custom-select">
                <option value="0"{% if g.participation == 0 %} selected{% endif %}>---</option>
                <option value="1"{% if g.participation == 1 %} selected{% endif %}>{% trans "ich komme" %}</option>
                <option value="2"{% if g.participation == 2 %} selected{% endif %}>{% trans "ich komme nicht" %}</option>
                <option value="3"{% if g.participation == 3 %} selected{% endif %}>{% trans "weiß noch nicht" %}</option>
                </select>
            <br />
            {% trans "E-Mail" %}: <input class="form-control" data-action="change" data-guest="{{g.id}}" data-name="email" value="{{g.email}}"></input> 
            {% trans "Telefon/Handy" %}: <input class="form-control" data-action="change" data-guest="{{g.id}}" data-name="phone" value="{{g.phone}}"></input> 
            </li>
            {% endfor %}
            <li class="list-group-item"><a href="{% url 'event.participant.add' %}" title="Gast hinzufügen"><i class="fa fa-plus-square"></i> {% trans "Gast hinzufügen" %}</a></li>
            </ul>
          </div>
        </div>
    </div>
    {% if cis|length > 0 %}
    <div class="card">
        <div class="card-header" role="tab" id="headingTwo">
          <h5 class="mb-0">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">{% trans "Beiträge" %}</a>
          </h5>
        </div>
        <div id="collapseTwo" class="show" role="tabpanel" aria-labelledby="headingTwo">
          <div class="card-body">
            <ul class="list-group">
            {% for ci in cis %}
              <li class="list-group-item">
                <span class="font-weight-bold">{{ci.contribution.name}}</span><br />
                {{ci.contribution.notes}}<br />
                <input class="form-control" data-action="change-ci" data-id="{{ci.id}}" value="{{ci.name}}"></input> 
              </li>
            {% endfor %}
            </ul>
          </div>
        </div>
    </div>
    {% endif %}

</div>

{% endblock content %}

{% block bottom-scripts %}
<script type="text/javascript">
$(document).ready(function() { 
    $("[data-action=change]").focus( function(){
        $(this).css("background-color","#fff7e0")
    })
    $("[data-action=change-ci]").focus( function(){
        $(this).css("background-color","#fff7e0")
    })
        
    $(document).on("change","[data-action=change]", function(){
        var gid  = $(this).attr("data-guest")
        var name = $(this).attr("data-name")
        var value = $(this).val()
        var e = $(this)
        console.log("Change: "+gid+" "+name+" "+value)
        $.ajax({
            method: "POST",
            data: { "gid": gid, "name": name, "value": value, "csrfmiddlewaretoken": "{{ csrf_token }}" },
            url: "{% url 'event.participant.set' %}",
            success: function(r){
                e.css("background-color","#ffffff")
                console.log(r);
            },
            error: function(r){
                console.log(r);
            }
        });
    })
    $(document).on("change","[data-action=change-ci]", function(){
        var ciid  = $(this).attr("data-id")
        var value = $(this).val()
        var e = $(this)
        console.log(ciid+" "+value)
        $.ajax({
            method: "POST",
            data: { "id": ciid, "value": value, "csrfmiddlewaretoken": "{{ csrf_token }}" },
            url: "{% url 'event.ci.set' %}",
            success: function(r){
                e.css("background-color","#ffffff")
            },
            error: function(r){
                console.log(r);
            }
        });
    })
})
</script>
{% endblock %}
